<ion-view view-title="Checkup Detail">
    <ion-content>
        
        <div class="im-wrapper">
            <!-- Ionic Components -->

            <h4 class="border-top">
                <i class="icon ion-clock"></i>
               <font color="brown"><b> Next Checkup Detail</b></font> 
            </h4>
                   
              <div class="list">
                <a class="item item-avatar">
                    <img src="img/cl.png">
                    <h2><b>Date</b></h2>
                    <p>7/8/2016</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/clk.png">
                    <h2><b>Time</b></h2>
                    <p>10.30 AM</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/hsp.png">
                    <h2><b>Hospital</b></h2>
                    <p>Government Hospital</p>
                </a>
              
            </div><br>
            <a button class="button  button-raised button-assertive ink-dark" ui-sref="app.previous">Previous Checkup</a><br><br>
          <a button class="button button-raised button-assertive ink-dark" ui-sref="app.feedback">Doctor Feedback</a>
            <br />
            <br />     
             
               <!--div class="tabs tab-royal" style="position: static; margin-bottom: 15px;">
                
                <a class=" tab-item "  href="app.">
                <b><font>Previous Checkup</font></b>
            </a>
                <a class="tab-item" href="app.">
                <b>Doctor Feedback</b>
            </a>
            </div--> 
          
            <!-- Normal Tabs -->
           <!-- <div class="tabs tabs-dark" style="position: static; margin-bottom: 15px;">
                <a class="tab-item">
                Alertme
            </a>
                <a class="tab-item">
                Ok
            </a>
                <a class="tab-item">
                Cancel
            </a>
            </div>-->
            
            
            <!-- Tabs Icons Top 
            <div class="tabs tabs-balanced tabs-icon-top" style="position: static; margin-bottom: 15px;">
                <a class="tab-item">
                    <i class="icon ion-home"></i> Home
                </a>
                <a class="tab-item active">
                    <i class="icon ion-star"></i> Favorites
                </a>
                <a class="tab-item">
                    <i class="icon ion-gear-a"></i> Settings
                </a>
            </div>-->
           
            
            <!-- Icon List 
           
            <div class="list">
                <a class="item item-icon-left">
                    <i class="icon ion-email"></i> Date
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-mic-a"></i> Time
                   
                </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-person-stalker"></i> Hospital
                       
                    </a>
                </div>-->
            
            
           
          
            
            <!-- Cards 
            <h4 class="border-top"><i class="icon ion-arrow-shrink"></i> Cards</h4>
            <div class="list card stable-bg">
                <div class="item item-avatar">
                    <img src="img/arya.jpg">
                    <h2>Arya Stark</h2>
                    <p>"Joffrey. Cersei. Ilyn Payne. Hound. Polliver. The Mountain."</p>
                </div>
                <div class="item item-body">
                    The quickest way to a man's heart is through Arya's needle. She has two speeds: Walk and Kill, and is the reason why Waldo is still hiding.
                    <p>
                        <a class="subdued">1 Like</a>
                        <a class="subdued">5 Comments</a>
                    </p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-thumbsup"></i> Like
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-chatbox"></i> Comment
                    </a>
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                        <i class="icon ion-share"></i> Share
                    </a>
                </div>
            
            </div>
           
        <br />
        <br />
    </ion-content>
</ion-view>
