<ion-view view-title="Profile">
    <ion-content class="im-wrapper">
       <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title"><font color="brown"><b>Gayathri</b></font></strong>
        </div>
        <br>
        
       
                <div class="im-wrapper">
            
        <img src="img/2.png" >
          
             <div class="list">
                <a class="item item-avatar">
                    <img src="img/add.png">
                   
                    <h2><font color="blue"><b>Address</b></font></h2>
                    <p>147, Jaihindpuram,<br> MADURAI - 625011, India.</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/phn.png">
                    <h2><font color="blue"><b>Phone Number</b></font></h2>
                    <p>9935311875</p>
                </a></div>



                       <!--<button class="button button-full" ng-click="showPopup()">Pop-Up</button>
        <div class="code-wrapper">
            <a class="toggle">To Add Ink</a>
            <div class="code">var alertPopup = $ionicPopup.alert({
            title: 'You are now my subscribed to Cat Facts',
            template: 'You will meow receive fun daily facts about CATS!'
        });-->
       </ion-content>
</ion-view>
