<ion-view view-title="Health Tips">
    <ion-content>
       
        <div class="im-wrapper">
    
       <div class="list animate-fade-slide-in-left">
           
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/ht.jpg">
                <h2><b>Tips</b></h2>
                
            </a> </div>

           <!-- <a ui-sref="app.yogamain" class="item item-avatar item-icon-right">
                <img src="img/yoga.png">
                <h2>Yoga</h2>
                
            </a--> 
            <button class="button button-full button-assertive "> <b><font color="white">yoga</b>
</button><br>

               
               
          <div class="list ">
                <a ui-sref="app.yoga" class="item item-avatar item-icon-right">
                    <img src="img/rs1.png">
                    <h2><b>Rajakapotasana</b></h2>
                    
                </a>


               
                <a ui-sref="app.chakrasana" class="item item-avatar item-icon-right">
                    <img src="img/mis1.png">
                    <h2><b>Shroni Chakrasana</b></h2>
                    
                </a>
                <a ui-sref="app.utkatasana" class="item item-avatar item-icon-right">
                    <img src="img/ms1.png">
                    <h2><b>Utkatasana</b></h2>
                    
                </a>
                 <a ui-sref="app.csyoga" class="item item-avatar item-icon-right">
                    <img src="img/cs1.png">
                    <h2><b>Chakki chalana asana</b></h2>
                    
                </a>
            </div>  
        </div>
               </div><br>
                     <br />

   
 
 
        <!--ion-list class="animate-ripple">
            <a class="item-icon-right item-avatar"  img src="img/ht.jpg" ui-sref="app.tips" >
              
        
                <h2>Tips</h2></a>-->
                           
      
           <!-- <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="ripple();">
                <img src="img/material2.jpg">
                <h2>.animate-ripple</h2>
                <p>ionic.material.motion.ripple();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="fadeSlideIn();">
                <img src="img/material3.jpg">
                <h2>.animate-fade-slide-in</h2>
                <p>ionic.material.motion.fadeSlideIn();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="fadeSlideInRight();">
                <img src="img/material1.jpg">
                <h2>.animate-fade-slide-in-right</h2>
                <p>ionic.material.motion.fadeSlideInRight();</p>
                <i class="icon ion-chatbubble muted"></i>-->
            </ion-item>
        </ion-list>
        
        <br />
        <br />
    </ion-content>
</ion-view>
