<ion-view view-title="Yoga">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list ">
                <a ui-sref="app.yoga" class="item item-avatar item-icon-right">
                    <img src="img/rs1.png">
                    <h2>Rajakapotasana</h2>
                    
                </a>


                <a ui-sref="app.csyoga" class="item item-avatar item-icon-right">
                    <img src="img/cs1.png">
                    <h2>Chakki chalana asana</h2>
                    
                </a>
                <a ui-sref="app.chakrasana" class="item item-avatar item-icon-right">
                    <img src="img/mis1.png">
                    <h2>Shroni Chakrasana</h2>
                    
                </a>
                <a ui-sref="app.utkatasana" class="item item-avatar item-icon-right">
                    <img src="img/ms1.png">
                    <h2>Utkatasana</h2>
                    
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
